<a href="https://colab.research.google.com/github/Rahullnitp/Data_Cleaning_And_Preprocessing/blob/master/Data_Creation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Dataframe creation

In [0]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

####i).Data creation using "random.randn"

       
randn create a dataset with normal distribution with mean = 0 and variance = 1.

In [0]:
#dataset with 1000 rows and 4 columns
data=pd.DataFrame(np.random.randn(1000,4),columns=list('ABCD'))

In [4]:
data.head()

          A         B         C         D
0 -0.134084  0.373290  1.122386  2.248496
1 -1.179892  0.026447 -0.574110 -0.510453
2  0.503048 -0.394235  1.507973 -0.447823
3  0.243927 -0.932370 -0.739791  0.524392
4  0.840776 -0.710923  2.818991 -1.394936

###ii).Data Creation using "random.randint"

Return random integers from the “discrete uniform” distribution of the specified dtype in the “half-open” interval [low, high). If high is None (the default), then results are from [0, low).

In [0]:
data1=pd.DataFrame(np.random.randint(0,100,size=(1000,4)),columns=list('ABCD'))

In [6]:
data1.head()

    A   B   C   D
0  78   8   7  13
1  79  98  53  97
2  78  42  62  43
3  50  34  10   8
4  37  74   5  69

###iii).Data creation with some null values in it.

create a dataframe with approximately 10% null values.

In [0]:
data_null=pd.DataFrame(np.random.randn(1000,4),columns=list('ABCD'))

In [19]:
data_null.head()

          A         B         C         D
0  1.726953 -0.729502 -1.824768  0.503310
1  1.253560 -0.913874 -0.300500 -0.042660
2 -0.486943 -0.380398 -0.213319  0.273448
3  1.340924  0.281709 -1.711545 -0.503509
4  0.062714 -0.240059 -0.157923  0.010388

In [0]:
data_null = data_null.mask(np.random.random(data_null.shape)< .1)   # difference bn "random.random" and "random.randn" by this link --https://stackoverflow.com/questions/47231852/np-random-rand-vs-np-random-random

In [21]:
data_null.head()

          A         B         C         D
0  1.726953 -0.729502 -1.824768  0.503310
1  1.253560 -0.913874       NaN -0.042660
2 -0.486943       NaN -0.213319  0.273448
3  1.340924  0.281709       NaN -0.503509
4  0.062714 -0.240059 -0.157923  0.010388